// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ngx-material-intl-tel-input-primary: mat.define-palette(mat.$indigo-palette);
$ngx-material-intl-tel-input-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$ngx-material-intl-tel-input-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ngx-material-intl-tel-input-theme: mat.define-light-theme(
  (
    color: (
      primary: $ngx-material-intl-tel-input-primary,
      accent: $ngx-material-intl-tel-input-accent,
      warn: $ngx-material-intl-tel-input-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ngx-material-intl-tel-input-theme);

//TODO Test import individual components
// @include mat.form-field-theme($ngx-material-intl-tel-input-theme);

// @include mat.select-theme($ngx-material-intl-tel-input-theme);

// @include mat.core-theme($ngx-material-intl-tel-input-theme);

// @include mat.option-theme($ngx-material-intl-tel-input-theme);

// @include mat.autocomplete-theme($ngx-material-intl-tel-input-theme);

// @include mat.input-theme($ngx-material-intl-tel-input-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
