<section>
  <form [formGroup]="formTestGroup" (ngSubmit)="onSubmit()">
    <ngx-material-intl-tel-input
      (currentValue)="getValue($event)"
      (currentCountryCode)="getCountryCode($event)"
      (currentCountryISO)="getCountryISO($event)"
      fieldControlName="phone"
      [emojiFlags]="false"
      [includeDialCode]="false"
      [useMask]="false"
      [forceSelectedCountryCode]="false"
      [showMaskPlaceholder]="true"
      [localizeCountryNames]="false"
      [outputNumberFormat]="PhoneNumberFormat.INTERNATIONAL"
      [appearance]="'fill'"
    ></ngx-material-intl-tel-input>
    <button mat-flat-button type="submit" [disabled]="!formTestGroup.valid">
      Submit
    </button>
    <button mat-flat-button (click)="resetForm()" type="button">Reset</button>

    <mat-checkbox (change)="toggleShowSetPhoneInput()"
      >Show input to change number</mat-checkbox
    >
    @if (showSetPhoneInput()) {
      <mat-form-field>
        <mat-label>Set phone number</mat-label>
        <input matInput type="text" formControlName="setPhoneTextbox" />
      </mat-form-field>
      <button mat-flat-button (click)="setPhone()" type="button">
        Set phone number
      </button>
    }
  </form>
  @if (currentPhoneValue()) {
    <div>
      Returned value: <br /><mat-chip>{{ currentPhoneValue() }}</mat-chip>
    </div>
    <div class="current-country-code-container">
      @if (currentCountryCode()) {
        <div>
          Country code: <br /><mat-chip>{{ currentCountryCode() }}</mat-chip>
        </div>
      }
      @if (currentCountryISO()) {
        <div>
          Country ISO: <br /><mat-chip>{{ currentCountryISO() }}</mat-chip>
        </div>
      }
    </div>
  } @else {
    <div>No value returned</div>
  }
  @if (submittedPhoneValue()) {
    <div>
      Submitted value: <br /><mat-chip>{{ submittedPhoneValue() }}</mat-chip>
    </div>
  }
  <router-outlet></router-outlet>
</section>
